body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.sidebar {
    width: 250px;
    background: #333;
    color: white;
    height: 100vh;
    padding: 25px;
}

.sidebar input, .sidebar select, .sidebar button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.sidebar button{
    background: green;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.main{
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.navbar{
    background: black;
    padding: 10px;
    display: flex;
    gap: 20px;
    position: sticky;
    top: 0;
}

.navbar select, .navbar button{
    padding: 8px;
}

.fleetContainer{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 7px #ccc;
}

.btn {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}

.update {
    background: blue;
}

.availability {
    background: green;
}

.delete{
    background: red;
}